<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14+：dataSync 类型前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".NotifyRelayActivity"
            android:theme="@style/Theme.NotifyRelay.Transparent"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:launchMode="singleTask" />

        <activity
            android:name=".group.DeleteGroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupNoticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".group.GroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.SavedGroupsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.UpdateGroupNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChooseChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".search.SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contacts.ChooseContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".contacts.NewFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupQrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.MyInviteCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserQrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.MyHeadPortraitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.MsgNoticesSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UpdateUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SetUserRemarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.PreviewNewImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchMsgResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatMultiForwardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.WKThemeSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.WKLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.WKAllMembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.WKFileHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.WKSystemTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.WKSetGroupRemarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.WKSetFontSizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.ChooseVideoCallMembersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".setting.WKAboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".search.MailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.BackupRestoreMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.AppModulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.ErrorLogsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.uikit.TabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.chat.uikit.chat.ChatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.chat.uikit.search.remote.GlobalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.uikit.chat.search.MessageRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.uikit.chat.search.member.SearchWithMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.uikit.chat.search.date.SearchWithDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.uikit.chat.search.image.SearchWithImgActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.chat.uikit.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.chat.uikit.ImConnectionForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>
</manifest>
